/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
    outline: 0;
}
body {
    background: #fff;
}

ol, ul {
    list-style: none;
}

table {/* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


/*--------------------------------------------------------------
  BASIC
-------------------------------------------------------------- */
body {
    background-color: #ffffff;
    color: #5C5C5C;
    font-size:14px;
    line-height: 1.7;
    font-family:'Hiragino Kaku Gothic Pro', 'Meiryo', 'メイリオ', Helvetica, Arial, sans-serif;
    height:100%;
}

html body {
    height:100%;
}

a {
    color:#3f3f3f;
    /*    color: #33588a; */
    text-decoration: none;
    opacity: 1;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

a.title {
    color:#333333;
}

a:hover{
    opacity:0.8;
    /*color:#666666;*/
}


.clear {
    clear: both;
}



/*--------------------------------------------------------------
  #header
-------------------------------------------------------------- */

#header {
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.header__title_wrapper {
    position: relative;
    width: 860px;
    margin: 0 auto;
}

.header__title_wrapper h1 {
    height:60px;
    line-height:60px;
}

.header__title_wrapper h1 img {
    vertical-align: middle;
}
.index .header__title_wrapper h1 {
    text-align: left;
}


/*--------------------------------------------------------------
  main
-------------------------------------------------------------- */
.inner {
    width: 740px;
    margin: 0 auto;
}

.header_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    height: 60px;
    line-height: 60px;
}
.menu_box a {
    color: #fff;
}
.sns_box {
    width: 100%;
    margin-top: 20px;
    text-align: right;
    line-height: 9px;
}
.sns_box li,
.menu_box li{
    margin-left: 20px;
    float: left;
}
.blue {
    color: #59A3E8;
}

.linkblue {
    color: #33588a;;
}

.main_logo {
    margin: 85px 0 60px;
}
.top_box p {
    margin: 20px 0 55px;
    line-height: 30px;
}
.participate_btn {
    display: block;
    color: #DB2023;
    font-size: 21px;
    font-weight: bold;
    width: 400px;
    border: 2px solid #DB2023;
    border-radius: 8px;
    margin: 0 auto 3em;
    padding: 15px 0;
    text-align: center;
}

.project_wrapper {
    background-color: #D8E5E9;
    padding: 70px 0 50px;
}

.project_box {
    padding-bottom: 70px;
}
.project_box p {
    line-height: 30px;
    margin-bottom: 2em;
}

.project_box li {
  list-style: disc;
  margin-bottom: 0.5em;
}

.project_box li a {
  color: #CC3333;
}

.project_box li a:hover {
  color: #FF3333;
}

.project_box li a:visited {
  color: #660000;
}

h1 {
    text-align: center;
}
h2 {
    font-family: 'Lato','Meiryo', 'メイリオ';
    color: #5C5C5C;
    font-size: 34px;
    text-align: center;
    font-weight: lighter;
}
h3 {
    color: #2F8AA5;
    font-weight: bold;
    margin-bottom: 10px;
}

.project_box {
}

.project_btn {
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    width: 236px;
    background-color: #277795;
    border-radius: 8px;
    margin: 30px 10px 0 0;
    padding: 15px 0;
    text-align: center;
}
.project_btn:last-child {
    margin-right: 0;
}

.logo_img {
    text-align: center;
    margin-top: 30px;
}

.footer_box {
    background-color: #4A4A4A;
    color: #ffffff;
    text-align: center;
    padding: 35px 40px 65px 40px;
    text-align: left;
    font-size:12px;
}

.footer_box a {
    color:#ffffff;
}

.m_botom {
    margin-bottom: 20px;
}

.m_top {
    margin-top: 20px;
}

.m_img {
    margin: 20px ;
}

/*提言用*/
#focused {
  border: 1px solid #CCCCCC ;
  padding: 3em 4em ;
  margin-bottom: 4em;
}

#focused h3 {
  font-size: 2em ;
}

#focused h4 {
  font-size: 1.5em ;
  font-weight: bold;
  margin-top: 2em;
}

#focused p {
  font-size: 1.2em ;
  line-height: 1.6em;
  margin-bottom: 2em;
}

#focused li {
  list-style: disc;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#focused li a {
  color: #CC3333;
}

#focused li a:hover {
  color: #FF3333;
}

#focused li a:visited {
  color: #660000;
}

#proposal {
  padding: 0 2em;
  width: 740px;
  margin: 0 auto;
}

#proposal p {
  font-size: 1.2em;
}

#proposal p.subtitle {
  font-weight: bold;
  text-align: center;
}

#proposal ul#status {
  margin-top: 2em;
}

#proposal ul#status li {
  text-align: right;
  list-style: none;
}

#proposal h1,
#proposal h2,
#proposal h3,
#proposal h4 {
  color: #663333;
  font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'メイリオ', Helvetica, Arial, sans-serif;
  font-weight: bold;;
  margin-top: 2em;
  margin-bottom: 1em;
}

#proposal h1 {
  font-size: 2.5em;
  text-align: left;
  margin-bottom: 0.2em;
  text-align: center;
}

#proposal h2 {
  font-size: 2em;
  text-align: left;
  padding-bottom: 0.5em;
  border-bottom: 1px #CCC solid;
}

#proposal h3 {
  font-size: 1.5em;
  text-align: left;
}

#proposal h4 {
  font-size: 1.2em;
  text-align: left;
}

#proposal ul {
  margin-top: 1em;
}

#proposal ul li {
  list-style: disc;
  margin-left: 2em;
  font-size: 1.2em;
}

#credit {
  margin-bottom: 4em;
}

#credit p{
  margin-top: 2em;
  text-align: right;
}

#proposal .image_credit {
  font-size: 1em;
  text-align: right;
}

#proposal a {
  color: #CC3333;
}

#proposal a:hover {
  color: #FF3333;
}

#proposal a:visited {
  color: #660000;
}

#members {
  padding: 4rem 0;
  text-align: center;
}

.member {
  display: inline-block;
  width: 300px;
  text-align: center;
  padding: 20px 0;
}

.member_photo {
  border-radius: 100px;
  margin-bottom: 1rem;
}

.member .title {
  line-height: 1rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #535353;
  font-weight: bold;
}

h3.name {
  line-height: 3rem;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 1rem;
}

.member .tag li {
  background-color: rgb(183, 208, 231);
  color: rgb(80, 82, 131);
  padding: 4px 10px;
  margin-bottom: 5px;;
  display: inline-block;
  border-radius: 6px;
}

.member .social {
  margin-top: 2rem;
}

.member .social li {
  display: inline-block;
  margin: 0 5px;
}