$bg-home-about: #de2d30;
$primary-red: #db2023;
$bg-red: #e86062;
$bg-red-accent: #af1a1c;

$border-gray: #afafaf;

$activity-text-light: #6f6f6f;
$activity-text-gray: #3f3f3f;
$activity-text-dark: #282828;

$white: #ffffff;
$black: #000000;
