@import "colors";
@import "mixins";
@import "styles";
/*-------------------------------------------------- header --------------------------------------------------*/

.main_visual {
  @include media-query('sp') {
    height: $sp-main-visual-height;
  };
}

.main_visual_typo {
  &_pc {
    display: none;
  }
  &_sp {
    display: none;
  }
}

.main_title {
  display: block;
  @include media-query('sp') {
    margin-top: $sp-page-title-font-margin;
    };
}

/*-------------------------------------------------- Activities --------------------------------------------------*/

.activities {
  display: flex;
  position: relative;
  height: auto;
  margin: 0;
  color: $white;
  @include media-query('sp') {
    flex-direction: column;
    width: 100%
  };
}

.activities_container {
  color: $black;
  display: block;
  width: 670px;
  @include media-query('sp') {
    width: 100%
  };
}

/*-------------------------------------------------- ActivitiesList --------------------------------------------------*/

.activities_list_container {
  width: 670px;
  margin-top: 70px;
  border-bottom: 1px solid $border-gray;
  @include media-query('sp') {
    width: 100%
  };
}

.activities_list_image_box {
  width: 670px;
  @include media-query('sp') {
    width: 100%
  };
}

.activities_list_image {
  width: 100%;
}

.activities_list_info {
  margin-top: 20px;
  display: flex;
}

.activities_list_date {
  height: 15px;
  padding-right: 15px;
  color: $activity-text-light;
  font-size: 12px;
  border-right: 1px solid $activity-text-light;
  box-sizing: border-box;
}

.activities_list_date p {
  padding: 0;
  margin: 0;
}

.activities_list_category {
  height: 15px;
  padding-left: 15px;
  color: $activity-text-light;
  font-size: 12px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activities_list_category_item {
  text-decoration: none;
}

.activities_list_title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.activities_list_content {
  color: black;
  text-align: left;
  margin-top: 15px;
}

.read_more_button {
  text-align: center;
  text-decoration: none;
  color: $activity-text-gray;
}

/*-------------------------------------------------- ActivitiesItem --------------------------------------------------*/

.activities_item_container {
  width: 670px;
  margin-top: 70px;
  border-bottom: 1px solid $border-gray;
  @include media-query('sp') {
    width: 100%
  };
}

.activities_item_image_box {
  margin: 60px 0 60px 0;
  width: 670px;
  @include media-query('sp') {
    width: 100%
  };
}

.activities_item_image {
  width: 100%;
}

.activities_item_info {
  margin-top: 20px;
  display: flex;
}

.activities_item_date {
  height: 15px;
  padding-right: 15px;
  color: $activity-text-light;
  font-size: 12px;
  border-right: 1px solid $activity-text-light;
  box-sizing: border-box;
}

.activities_item_date p {
  padding: 0;
  margin: 0;
}

.activities_item_title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.activities_item_category {
  height: 15px;
  padding-left: 15px;
  color: $activity-text-light;
  font-size: 12px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activities_item_category_item {
  text-decoration: none;
}

.activities_item_content {
  color: $black;
  text-align: left;
  font-size: 14px;
}

.read_more_button {
  text-align: center;
  text-decoration: none;
  color: $activity-text-gray;
}

.activities_item_tags {
  margin: 60px 0 30px 0;
  color: $black;
  font-size: 12px;
}

.activities_item_tags_title {
  font-weight: bold;
}

.activities_item_tags_item {
  text-decoration: none;
}

/*-------------------------------------------------- Sidebar --------------------------------------------------*/

.sidebar_activities {
  margin: 70px 0 0 50px;
  width: 300px;
  color: $black;
  @include media-query('sp') {
    display: block;
    width: 100%;
    margin: 50px 0 0 0;
  };
}

.sidebar_content_title {
  position: relative;
  margin-bottom: 48px;
  color: $activity-text-dark;
}

.sidebar_content_title::after {
  background-color: $primary-red;
  content: '';
  height: 1px;
  width: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -20px;
}

.recent_posts {
  margin-bottom: 75px;
  width: 100%;
}

.recent_posts_list {
  padding: 0;
  list-style: none;
}

.recent_post_box {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.recent_post_image_box {
  float: left;
  width: 26%;
  margin-right: 10px;
  height: auto;
}

.recent_post_image {
width: 100%;
height: auto;
}

.recent_post_title_box {
  width: 100%;
  float: left;
}

.recent_post_title {
  font-size: 12px;
  text-decoration: none;
}

.categories {
  margin-bottom: 75px;
}

.category_item {
  font-size: 12px;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: $activity-text-light;
}

.archive {
  margin-bottom: 75px;
}

.archives_list {
  padding: 0;
  font-size: 12px;
  color: $activity-text-dark;
}

.archives_year {
  margin-bottom: 20px;
}

.archives_month_list_box {
  display: inline-block;
    margin: 0 15px 20px 0;
}

.archives_month_list {
  list-style: none;
}

.archives_month_item {

}

.archives_month_item a {
  color: $activity-text-dark;
  text-decoration: none;
}

.tags {
  margin-bottom: 75px;
}

.tag_item {
  font-size: 12px;
  border: solid 1px $border-gray;
  padding: 8px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
  color: $activity-text-gray;
}

/*-------------------------------------------------- pagination --------------------------------------------------*/

.pages_link {
  &_pc {
    margin: 80px 0 80px 0;
    top: 50%;
    left: 50%;
    @include media-query('sp') {
      display: none;
    };
  }
  &_sp {
    display: none;
    margin: 0 0 40px 0;
    top: 50%;
    left: 50%;
    @include media-query('sp') {
      display: block;
    };
  }
}

.next_after_pagination {
  margin-bottom: 80px;
}
