@import "colors";
@import "mixins";
@import "styles";
/*-------------------------------------------------- header --------------------------------------------------*/

.main_visual {
  @include media-query('sp') {
    height: $sp-main-visual-height;
  };
}

.main_visual_typo {
  &_pc {
    display: none;
  }
  &_sp {
    display: none;
  }
}

.main_title {
  display: block;
  @include media-query('sp') {
    margin-top: $sp-page-title-font-margin;
    font-size: $sp-page-title-font-size;
    };
    &_category {
      display: block;
    }
}

/*-------------------------------------------------- Activities --------------------------------------------------*/

.activities {
  display: flex;
  position: relative;
  height: auto;
  margin: 0;
  color: $white;
  @include media-query('sp') {
    flex-direction: column;
    width: 100%
  };
}

.activities_container {
  color: $black;
  display: block;
  width: 670px;
  @include media-query('sp') {
    width: 100%
  };
}

/*-------------------------------------------------- ActivitiesList --------------------------------------------------*/

.activities_list_container {
  width: 670px;
  margin-top: 70px;
  border-bottom: 1px solid $border-gray;
  @include media-query('sp') {
    width: 100%;
    margin-top: 40px;
  };
}

.activities_list_image_box {
  width: 670px;
  @include media-query('sp') {
    width: 100%
  };
}

.activities_list_image {
  width: 100%;
}

.activities_list_info {
  margin-top: 30px;
  display: flex;
}

.activities_list_date {
  padding-right: 15px;
  color: $activity-text-light;
  font-size: 12px;
  border-right: 1px solid $activity-text-light;
  box-sizing: border-box;
}

.activities_list_date p {
  padding: 0;
  margin: 0;
  height: 15px;
  line-height: 15px;
}

.activities_list_category {
  height: 15px;
  padding-left: 15px;
  color: $activity-text-light;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activities_list_category_item {
  text-decoration: none;
}

.activities_item_sns {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  //border: 1px solid $border-gray;
  width: 80px;

  li:not(:last-child) {
    margin-right: 12px;
  }

  /*a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;

    &:hover {
      background-color: $border-gray;
    }

    img {
      vertical-align: middle;
    }
  }*/

  #twitter-widget-0 {
    vertical-align: bottom;
  }
}

.activities_list_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  text-decoration: none;
  @include media-query('sp') {
    font-size: 13px;
  }
}

.activities_list_content {
  color: black;
  text-align: left;
  margin-top: 15px;
  @include media-query('sp') {
    font-size: 13px;
  }
}

.read_more_button {
  text-align: center;
  text-decoration: none;
  color: $activity-text-gray;
}

/*-------------------------------------------------- ActivitiesItem --------------------------------------------------*/

.activities_item_container {
  width: 670px;
  margin-top: 70px;
  border-bottom: 1px solid $border-gray;
  @include media-query('sp') {
    width: 100%
  };
}

.activities_item_image_box {
  margin: 60px 0 60px 0;
  width: 670px;
  @include media-query('sp') {
    width: 100%
  };
}

.activities_item_image {
  width: 100%;
}

.activities_item_info {
  display: flex;
  margin-bottom: 20px;
}

.activities_item_date {
  padding-right: 15px;
  color: $activity-text-light;
  font-size: 12px;
  border-right: 1px solid $activity-text-light;
  box-sizing: border-box;
}

.activities_item_date p {
  height: 15px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

.activities_item_title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  text-decoration: none;
}

.activities_item_category {
  height: 15px;
  padding-left: 15px;
  color: $activity-text-light;
  font-size: 12px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activities_item_category_item {
  text-decoration: none;
}

.activities_item_content {
  color: $black;
  text-align: left;
  font-size: 14px;
}

.read_more_button {
  text-align: center;
  text-decoration: none;
  color: $activity-text-gray;
  margin: 0;

  a {
    display: block;
    line-height: 1;
    padding: 20px 0;
    @include media-query('sp') {
      font-size: 12px;
      padding: 15px 0;
    }
  }
}

.activities_item_tags {
  margin: 60px 0 30px 0;
  min-height: 38px;
  color: $black;
  font-size: 12px;
}

.activities_item_tags_title {
  letter-spacing: 0.1em;
  font-weight: bold;
}

.activities_item_tags_item {
  text-decoration: none;
}

/*-------------------------------------------------- Sidebar --------------------------------------------------*/

.sidebar_activities {
  margin: 70px 0 0 50px;
  width: 300px;
  color: $black;
  @include media-query('sp') {
    display: block;
    width: 100%;
    margin: 0;
  };
}

.sidebar_content_title {
  position: relative;
  margin-bottom: 48px;
  color: $activity-text-dark;
  letter-spacing: 0.1em;
  line-height: 1;
  @include media-query('sp') {
    font-size: 13px;
    margin-bottom: 40px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.sidebar_content_title::after {
  background-color: $primary-red;
  content: '';
  height: 1px;
  width: 40px;
  position: absolute;
  left: 0;
  bottom: -20px;
  @include media-query('sp') {
    bottom: -15px;
  }
}

.recent_posts {
  margin-bottom: 75px;
  width: 100%;
  @include media-query('sp') {
    margin-bottom: 45px;
  }
}

.recent_posts_list {
  padding: 0;
  list-style: none;
}

.recent_post_box {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.recent_post_image_box {
  float: left;
  width: 26%;
  margin-right: 10px;
  height: auto;
}

.recent_post_image {
width: 100%;
height: auto;
}

.recent_post_title_box {
  width: 100%;
  float: left;
  line-height: 1.35;
}

.recent_post_title {
  display: block;
  font-size: 12px;
  line-height: 1.85;
  text-decoration: none;
}

.categories {
  margin-bottom: 75px;
  @include media-query('sp') {
    margin-bottom: 45px;
  }
}

.category_item {
  font-size: 12px;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}

.archives {
  margin-bottom: 75px;
  @include media-query('sp') {
    margin-bottom: 45px;
    position: relative;
  }
  &_content {
    @include media-query('sp') {
      margin: 0;
      max-height: 130px;
      overflow: scroll;
    }
  }
  &_controls {
    display: none;
    @include media-query('sp') {
      display: block;
    }
    @include media-query('sp') {
      &-prev,
      &-next {
        content: '';
        position: absolute;
        right: 3px;
        width: 10px;
        height: 10px;
        &:active {
          border-color: $primary-red;
        }
      }
      &-prev {
        top: 57px;
        border-top: 1px solid #3f3f3f;
        border-left: 1px solid #3f3f3f;
        transform: rotate(45deg);
      }
      &-next {
        bottom: 2px;
        border-bottom: 1px solid #3f3f3f;
        border-left: 1px solid #3f3f3f;
        transform: rotate(-45deg);
      }
    }
  }

  &_list {
    padding: 0;
    font-size: 12px;
    color: $activity-text-dark;

    &_item {
      display: inline-block;
      list-style: none;
      margin: 0 15px 20px 0;
      @include media-query('sp') {
        margin: 0 15px 13px 0;
      }

      a {
        text-decoration: none;
      }
    }
  }

  &_year {
    color: $activity-text-light;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    @include media-query('sp') {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

.tags {
  margin-bottom: 75px;
}

.tag_item {
  font-size: 12px;
  border: solid 1px $border-gray;
  padding: 8px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
  color: $activity-text-gray;
}

/*-------------------------------------------------- pagination --------------------------------------------------*/

.pages_link {
  &_pc {
    margin: 80px 0 80px 0;
    top: 50%;
    left: 50%;
    @include media-query('sp') {
      display: none;
    };
  }
  &_sp {
    display: none;
    margin: 0 0 40px 0;
    top: 50%;
    left: 50%;
    @include media-query('sp') {
      display: block;
    };
  }
}

.next_prev_pagination {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  @include media-query('sp') {
    margin-bottom: 20px;
  }
}

.n_p_pagenation {
  width: 50%;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
  @include media-query('sp') {
    font-size: 12px;
  }

  &.next:before,
  &.prev:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin: auto;
    @include media-query('sp') {
      width: 10px;
      height: 10px;
    }
  }

  &.next {
    padding-left: 50px;
    padding-right: 30px;
    @include media-query('sp') {
      padding-left: 20px;
      padding-right: 10px;
    }

    &:before {
      left: 20px;
      border-top: 1px solid $activity-text-gray;
      border-left: 1px solid $activity-text-gray;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      @include media-query('sp') {
        left: 5px;
      }
    }
  }

  &.prev {
    padding-left: 30px;
    padding-right: 50px;

    &:after {
      right: 20px;
      border-top: 1px solid $activity-text-gray;
      border-right: 1px solid $activity-text-gray;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      @include media-query('sp') {
        right: 5px;
      }
    }
  }
}

/*-------------------------------------------------- pagination --------------------------------------------------*/

.category_list {
  padding: 40px 0 50px;
  background-color: $activity-text-light;

  &_inner {
    display: flex;
    justify-content: space-between;
    @include media-query('sp') {
      display: block;
    }
  }

  &_item {
    background-color: $white;
    width: 30%;
    @include media-query('sp') {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .no-image {
    background-color: $activity-text-gray;
    color: $border-gray;
    display: block;
    font-size: 12px;
    line-height: 1;
    padding: 95px 0;
    text-align: center;
  }

  &_info {
    position: relative;
    color: $activity-text-gray;
    min-height: 140px;
    padding: 20px 20px 32px;

    .info_title {
      font-size: 16px;
      margin: 0;
      
      a {
        text-decoration: none;
      }
    }

    .info_desc {
      font-size: 14px;
      line-height: 1.5;
    }

    .info_date {
      position: absolute;
      bottom: 20px;
      color: $activity-text-light;
      font-size: 12px;
      line-height: 1;
      p {
        margin: 0;
      }
    }
  }
}