@import "colors";
@import "mixins";
/*-------------------------------------------------- Main --------------------------------------------------*/
.main_home {
  background-color: $bg-red;
}
/*-------------------------------------------------- About --------------------------------------------------*/
.about {
  background-color: $bg-home-about;
  height: auto;
  margin: 0;
  padding: 80px 0;
  color: $white;
  position: relative;
  overflow: hidden;
  @include media-query('sp') {
    padding: 50px 0 60px;
  };
}

.about:before {
  content: '';
  position: absolute;
  display: block;
  left: -20px;
  bottom: -165px;
  width: 100%;
  height: 150px;
  background-color: $bg-red-accent;
  transform: rotateZ(6deg);
  overflow: hidden;
  @include media-query('sp') {
    bottom: -150px;
    transform: rotateZ(10deg);
  };
}

.about:after {
  content: '';
  position: absolute;
  display: block;
  right: -20px;
  bottom: -140px;
  width: 100%;
  height: 160px;
  background-color: $bg-red;
  transform: rotateZ(-6deg);
  @include media-query('sp') {
    bottom: -150px;
    transform: rotateZ(-12deg);
    right: -30px;
  };
}

.about_box {
  text-align: center;
  width: 100%;
  padding: 80px 0;
  @include media-query('sp') {
    font-size: 13px;
    line-height: 1.5;
    padding: 0 0 25px;
  };
}

  .about_box.first {
  padding-top: 0;
}

.about_title {
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding-bottom: 30px;
  @include media-query('sp') {
    font-size: 16px;
    padding-top: 30px;
  }
}

.about_detail {
  margin: 0;
}

.about_box.innovation {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  @include media-query('sp') {
    display: block;
  };
}

.project_archives {
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  @include media-query('sp') {
    display: block;
    padding-top: 0;
  }
}

.project_archives_item {
  padding: 20px;
  text-align: left;
  width: 48%;
  img {
    width: 100%;
  }
  @include media-query('sp') {
    width: 100%;
    margin-bottom: 50px;
    .project_archives_item:not(:last-child) {
      margin-bottom: 4%;
    }
  }
}

.project_archives_info {
  .info_title {
    a {
      color: #fff;
    }
  }
}

.about_innovation {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about_innovation_text {
  display: inline-block;
  margin-top: 0;
  text-align: left;
  @include media-query('sp') {
    text-align: center;
  };
}

.about_innovation_image {
  margin-left: auto;
  padding-left: 15px;
  width: 50%;
  @include media-query('sp') {
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
    text-align: center;
  };
}

.about_innovation_image img {
  @include media-query('sp') {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
  };
}
/*-------------------------------------------------- What's New? --------------------------------------------------*/
.whats_new {
  background-image: url("../images/bg_whats_new.png");
  background-size: auto;
  height: auto;
  margin: 0;
  padding: 150px 0 80px;
  color: $white;
  position: relative;
  overflow: hidden;
  z-index: 100;
  @include media-query('sp') {
    padding: 85px 0 50px;
  }
}

.whats_new_contents {
  border-bottom: 1px solid $white;
  margin-bottom: 35px;
}

.whats_new:before {
  content: '';
  position: absolute;
  display: block;
  left: -20px;
  top: -165px;
  width: 100%;
  height: 150px;
  background-color: $bg-red-accent;
  transform: rotateZ(-6deg);
  @include media-query('sp') {
    top: -152px;
    transform: rotateZ(-12deg);
  }
}

.whats_new:after {
  content: '';
  position: absolute;
  display: block;
  right: -20px;
  top: -140px;
  width: 100%;
  height: 160px;
  background-color: $bg-red;
  transform: rotateZ(6deg);
  @include media-query('sp') {
    top: -154px;
    transform: rotateZ(10deg);
  }
}

.whats_new_list {
  padding-left: 0;
  text-align: left;
  font-size: 16px;
  list-style: none;
  margin-top: 0;
  @include media-query('sp') {
    font-size: 13px;
  }
}

.whats_new_item {
  margin-bottom: 35px;
  font-size: 16px;
  display: flex;
  @include media-query('sp') {
    display: block;
    font-size: 13px;
    margin-bottom: 16px;
  };
}

.dt-published {
  display: flex;
  align-items: center;
  @include media-query('sp') {
    display: block;
  };
}

.whats_new_item_date {
  margin-right: 35px;
}

.whats_new_item_title_box {
  display: inline;
  width: 100%;
  overflow: hidden;
  @include media-query('sp') {
    display: block;
  };
}

.whats_new_item_title_box a {
  text-decoration: none;
}

.whats_new_item_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: $white;
  margin: 0;
}

.read_more_button {
  display: block;
  width: 210px;
  height: 46px;
  font-size: 18px;
  color: $primary-red;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  background-color: $white;
  border-style: none;
  outline: none;
  margin: 0 auto;
  @include media-query('sp') {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    max-width: 110px;
    width: 32%;
  }
}

.read_more_button:hover {
  background-color: $primary-red;
  color: $white;
}
/*-------------------------------------------------- Activites --------------------------------------------------*/
.activites {
  background-image: url("../images/bg_activites.png");
  background-size: cover;
  position: relative;
  height: auto;
  margin: -60px 0 0;
  padding: 150px 0;
  color: $white;
  transform: skewY(-4deg);
  z-index: 50;
  @include media-query('sp') {
    padding: 120px 0;
    transform: skewY(-15deg);
  }
}

.activites_items {
  display: -ms-flexbox;
  display: flex;
  @include media-query('sp') {
    display: block;
  };
}

.activites_item_box {
  margin-right: 30px;
  margin-bottom: 50px;
  width: 495px;
  height: 519px;
  background-color: $white;
  color: $black;
  text-align: center;
  @include media-query('sp') {
    width: 100%;
    height: auto;
  };
}

.activities_image {
  width: 100%;
  vertical-align: top;
}

.activities_title {
  font-size: 16px;
  margin: 20px;
}

.activities_title a {
  text-decoration: none;
  font-weight: bold;
}

.activities_summary {
  font-size: 14px;
  margin: 15px 20px 20px 30px;
  @include media-query('sp') {
    padding-bottom: 5vw;
  };
}
/*-------------------------------------------------- Member --------------------------------------------------*/
// TODO スマホ表示のときは2人分ずつ表示させるようにtwigから変更
.member {
  background-image: url("../images/bg_member.png");
  background-size: auto;
  position: relative;
  height: auto;
  margin: 0;
  padding: 120px 0 80px;
  color: $white;
  @include media-query('sp') {
    padding: 80px 0 40px;
  }
}

.member_list {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 -20px 0 0;
  padding: 0;
  @include media-query('sp') {
    padding-top: 40px;
    position: relative;
    overflow: scroll;
    width: 100%;
  }
}

//spのスライダーのページャー
.member_list + .lSAction {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 32px;

  > * {
    background: transparent;
  }

  > .lSPrev:before,
  > .lSNext:after {
    border-top: 1px solid $white;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    width: 10px;
    height: 10px;
    margin: auto;
  }

  > .lSPrev {
    left: 0;
    &:before {
      left: 12px;
      border-left: 1px solid $white;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:active {
      &:before {
        border-color: $primary-red;
      }
    }
  }

  > .lSNext {
    right: 0;
    &:after {
      right: 12px;
      border-right: 1px solid $white;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:active {
      &:after {
        border-color: $primary-red;
      }
    }
  }
}

.member_item_box {
  font-size: 16px;
  text-align: center;
  color: $white;
  margin-right: 20px;
}

.member_image {
  width: 240px;
  height: 240px;
  @include media-query('sp') {
    width: 100%;
    height: auto;
  }
}

.member_position {
  margin-bottom: 0;
}

.member_name {
  margin: 0;
}
