@import "colors";
@import "mixins";
@import "styles";
/*-------------------------------------------------- header --------------------------------------------------*/
.main_visual {
  @include media-query('sp') {
    height: $sp-main-visual-height;
  };
}

.main_visual_typo {
  &_pc {
    display: none;
  }

  &_sp {
    display: none;
  }
}

.main_title {
  display: block;
  @include media-query('sp') {
    margin-top: $sp-page-title-font-margin;
    font-size: $sp-page-title-font-size;
  };
}
/*-------------------------------------------------- Member --------------------------------------------------*/
.container {
  width: auto;
}

.members {
  position: relative;
  height: auto;
  margin: 0;
  padding: 80px 0;
  color: $white;
  @include media-query('sp') {
    padding: 25px 0;
  };
}

.members_list {
  width: 1020px;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  @include media-query('sp') {
    width: 100%;
  };
}

.members_item_box_content {
  max-width: 100%;
  padding-right: 20px;
  color: $black;
  text-align: center;

  &:last-child {
    padding-right: 0;
  }
  @include media-query('sp') {
    box-sizing: border-box;
    width: 50%;
  };
}

.members_item_box_content_dummy {
  width: 240px;
  margin-right: 20px;
}

.members_info {
  width: 100%;
  height: 100%;
  position: relative;
  color: $activity-text-gray;
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }
}

.members_image {
  width: 240px;
  height: 240px;
  @include media-query('sp') {
    width: 100%;
    height: auto;
  };
}

.members_company {
  margin: 18px 0 8px;
}

.members_name {
  margin-top: 0;
}

.members_detail_content {
  display: none;
}

.members_detail_box {
  display: none;
  left: 0;
  width: 100%;
  height: 590px;
  background-color: #000;
  color: $white;
  margin-bottom: 40px;

  .members_detail_content {
    display: block;
    width: 1020px;
    margin: auto;
    padding: 60px 0;
  }
}

.box_square {
  height: 590px;
}

.box_triangle {
  display: none;
  width: 0;
  height: 0;
  margin-top: -30px;
  margin-left: 105px;
  border: 15px solid transparent;
  border-bottom: 15px solid $black;
}

.members_list_border {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: $border-gray;
}
/*-------------------------------------------------- Members Detail --------------------------------------------------*/
.members_detail_pc {
  display: flex;
  width: 1020px;
  margin: 0 auto;
  color: $activity-text-gray;

  &_image_box {
    margin-right: 55px;

    img {
      height: 240px;
      width: 240px;
    }
  }

  &_content_box {
    a {
      display: block;
      font-size: 14px;
    }
  }

  &_company {
    font-size: 14px;
    margin: 0;
  }

  &_person {
    font-size: 14px;
    margin: 10px 0 0;
  }

  &_info {
    font-size: 14px;
    margin: 30px 0;
  }

  &_sns_box {
    display: flex;
    margin-left: 295px;
  }

  &_sns {
    display: block;
    width: 20px;
    height: 20px;
    text-decoration: none;
    position: relative;
    margin-right: 20px;

    img {
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  @include media-query('sp') {
    display: none;
  };
}

.members_detail_sp {
  display: none;
  @include media-query('sp') {
    display: block;
  };
  color: $black;

  &_image_box {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_content_box {
    margin-top: 25px;

    a {
      display: block;
      text-align: left;
    }
  }

  &_company {
    font-size: 11px;
  }

  &_person {
    font-size: 13px;
    margin-top: 10px;
  }

  &_info {
    font-size: 13px;
    margin: 30px 0;
  }

  &_sns_box {
    display: flex;
    }

  &_sns {
    display: block;
    width: 25px;
    height: 25px;
    text-decoration: none;
    margin-right: 20px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      text-align: center;

    }
  }
}
/*-------------------------------------------------- footer --------------------------------------------------*/
.container.footer {
  width: 1020px;
  margin: auto;
  @include media-query('sp') {
    width: auto;
    padding: 0 30px;
  };
}
