{% set collection = page.collection('Activities') %}
{% set activitiesOption = {
  items: {
    '@taxonomy.category': 'Activities'
  },
  'limit': 2,
  'order': {
    'by': 'date',
    'dir': 'desc'
  }
} %}
{% set activitiesCollection = page.collection(activitiesOption) %}

{% block stylesheets %}
  {% do
    assets.addCss('theme://css/index.css', 100) %}
{% endblock %}

{% for child in activitiesCollection %}
  {% set header_image_media = child.media.images | first %}
  <article class="activites_item_box">
    <img class="activities_image" src="{{ header_image_media.url }}" alt="activites"/>
    <h1 class="activities_title">
      <a href="{{ child.url }}">{{ child.title }}</a>
    </h1>
    <div class="activities_summary">{{ child.summary|length > 60 ? child.summary|slice(0, 60) ~ '...' : child.summary }}</div>
  </article>
{% endfor %}
