<div class="list-item h-entry">
  {% set header_image_file = page.header.header_image_file %}
  <!-- TODO 管理画面側から入力した人物名を出す仕組み -->
  <div class="members_item_box">
    {% if header_image_file %}
      {% set header_image_media = page.media.images[header_image_file] %}
    {% else %}
      {% set header_image_media = page.media.images | first %}
    {% endif %}

    <img class="members_image" src="{{ header_image_media.url }}" alt="hoge"/>
    <p class="members_company">{{page.header.company}}</p>
    <p class="members_name">{{page.header.person}}</p>
  </div>

</div>
