{% set feed_url = blog.url == '/' or blog.url == base_url_relative
  ? (base_url_relative ~ '/' ~ blog.slug)
  : blog.url %}
{% set new_base_url = blog.url == '/'
  ? ''
  : blog.url %}

<div class="sidebar_container">

  <!--TODO popular posts じゃなくて recent posts のpluginしか見つかっていない。 -->
  {#{% if config.plugins.recentposts.enabled %}
    <div class="popular_posts">
      <h4 class="sidebar_content_title">POPULAR POSTS</h4>
      {% include 'partials/recent-posts.html.twig' %}
    </div>
  {% endif %}#}

  <div class="popular_posts">
    <h4 class="sidebar_content_title">POPULAR POSTS</h4>
  </div>

  {% if config.plugins.taxonomylist.enabled %}
    <div class="categories">
      <h4 class="sidebar_content_title">CATEGORIES</h4>
      {% include 'partials/taxonomylist.html.twig' with {
        'base_url' : new_base_url,
        'taxonomy' : 'category'
      } %}
    </div>
  {% endif %}

  {% if config.plugins.archives.enabled %}
    <div class="archive">
      <h4 class="sidebar_content_title">ARCHIVE</h4>
      {% include 'partials/archives.html.twig' with {
        'base_url' : new_base_url
      } %}
    </div>
  {% endif %}

  {% if config.plugins.taxonomylist.enabled %}
    <div class="tags">
      <h4 class="sidebar_content_title">TAGS</h4>
      {% include 'partials/taxonomylist.html.twig' with {
        'base_url' : new_base_url,
        'taxonomy' : 'tag'
      } %}
    </div>
  {% endif %}
</div>
