{% set feed_url = activities.url == '/' or activities.url == base_url_relative
  ? (base_url_relative ~ '/' ~ activities.slug)
  : blog.url %}
{% set new_base_url = activities.url == '/'
  ? ''
  : activities.url %}

<div class="sidebar_container">

  {% if config.plugins.recentposts.enabled %}
    <div class="recent_posts">
      <h4 class="sidebar_content_title">RECENT POSTS</h4>
      {% include 'partials/recentposts.html.twig' %}
    </div>
  {% endif %}

  {% if config.plugins.taxonomylist.enabled %}
    <div class="categories">
      <h4 class="sidebar_content_title">CATEGORIES</h4>
      {% include 'partials/taxonomylist.html.twig' with {
        'base_url' : new_base_url,
        'taxonomy' : 'category'
      } %}
    </div>
  {% endif %}

  {% if config.plugins.archives.enabled %}
    <div class="archive">
      <h4 class="sidebar_content_title">ARCHIVE</h4>
      {% include 'partials/archives.html.twig' with {
        'base_url' : new_base_url
      } %}
    </div>
  {% endif %}

  {% if config.plugins.taxonomylist.enabled %}
    <div class="tags">
      <h4 class="sidebar_content_title">TAGS</h4>
      {% include 'partials/taxonomylist.html.twig' with {
        'base_url' : new_base_url,
        'taxonomy' : 'tag'
      } %}
    </div>
  {% endif %}
</div>
