/*-------------------------------------------------- common --------------------------------------------------*/
body { margin: 0; }

img { vertical-align: bottom; }

.container { width: 1020px; margin: auto; }

@media screen and (max-width: 750px) { .container { width: auto; padding: 0 30px; } }

.container.activites_container { transform: skewY(4deg); }

/*-------------------------------------------------- MainVisual --------------------------------------------------*/
.main_visual { position: relative; height: 570px; background-image: url("../images/main_visual_image.png"); background-size: cover; background-position: center center; }

@media screen and (max-width: 750px) { .main_visual { background-position: center; } }

.main_visual_image { width: 100%; }

header { width: 100%; position: absolute; }

.header_box_pc { width: 1020px; height: 80px; margin: auto; }

@media screen and (max-width: 750px) { .header_box_pc { display: none; } }

.header_box_sp { display: none; }

@media screen and (max-width: 750px) { .header_box_sp { display: -ms-flexbox; display: flex; background-color: #ffffff; height: 45px; width: 100%; -ms-flex-align: center; align-items: center; text-align: center; padding: 5px 0; position: relative; z-index: 20; } }

.header_image_pc { display: -ms-flexbox; display: flex; float: left; position: absolute; top: 50%; transform: translateY(-50%); }

@media screen and (max-width: 750px) { .header_image_pc { display: none; } }

@media screen and (max-width: 750px) { .header_icon_link { position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); height: 100%; } }

.header_heading { margin: 0; }

@media screen and (max-width: 750px) { .header_heading { margin: 0; } }

@media screen and (max-width: 750px) { .header_icon { position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); } }

.header.nav { width: 100%; margin: 0; }

@media screen and (max-width: 750px) { .menu_icon { position: absolute; right: 30px; top: 50%; }
  .menu_icon span { width: 40px; height: 2px; border-radius: 10px 10px; display: block; background: #000000; position: absolute; left: 90%; top: 50%; margin-left: -25px; }
  .menu_icon .top { transform: translateY(-13px); }
  .menu_icon .bottom { transform: translateY(13px); }
  .menu_icon.active .middle { background: rgba(255, 255, 255, 0); }
  .menu_icon.active .top { transform: rotate(-45deg) translateY(0px); }
  .menu_icon.active .bottom { transform: rotate(45deg) translateY(0px); } }

.menu_item_box { display: none; }

@media screen and (max-width: 750px) { .menu_item_box { background-color: #000000; width: 100%; float: right; margin-top: 55px; position: relative; z-index: 10; } }

.main_visual_typo_pc { position: absolute; display: block; top: 50%; left: 50%; ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0; padding: 0; width: 50%; }

.main_visual_typo_sp { position: absolute; display: none; top: 50%; left: 50%; ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0; padding: 0; width: 50%; }

@media screen and (max-width: 750px) { .main_visual_typo_pc { position: absolute; display: none; top: 50%; left: 50%; ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0; padding: 0; width: 50%; }
  .main_visual_typo_sp { position: absolute; display: block; top: 50%; left: 50%; ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0; padding: 0; width: 50%; } }

.main_title { display: none; position: absolute; top: 50%; left: 50%; ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin: 0; padding: 0; color: #db2023; font-size: 56px; }

.grobal_nav { display: -ms-flexbox; display: flex; height: 120px; -ms-flex-align: center; align-items: center; float: right; }

@media screen and (max-width: 750px) { .grobal_nav { height: 100%; float: left; } }

.nav_box_pc { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }

.nav_box_sp { display: none; }

@media screen and (max-width: 750px) { .nav_box_sp { display: block; margin: 0; padding: 0; } }

.nav_item { float: right; }

@media screen and (max-width: 750px) { .nav_item { float: none; } }

.nav_item a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }

@media screen and (max-width: 750px) { .nav_item a { text-align: left; } }

.nav_item a:hover { background-color: #111; }

/*-------------------------------------------------- common heading --------------------------------------------------*/
.common_heading { margin: 0; padding: 40px 0; font-size: 28px; position: relative; width: 100%; }

.common_heading::before { content: ''; height: 2px; width: 40px; position: absolute; left: 0; top: 0; }

.common_heading.white::before { background-color: #ffffff; }

.common_heading.red::before { background-color: #db2023; }

/*-------------------------------------------------- footer --------------------------------------------------*/
.footer_box { background-image: url("../images/bg_creative_commons.png"); background-size: auto; position: relative; height: auto; margin: 0; padding: 40px 0; color: #ffffff; }

.container_footer_box { display: -ms-flexbox; display: flex; }

@media screen and (max-width: 750px) { .container_footer_box { -ms-flex-direction: column; flex-direction: column; } }

.sns_box { margin-top: 10px; margin-left: auto; }

@media screen and (max-width: 750px) { .sns_box { -ms-flex-order: 1; order: 1; margin: 10px auto; } }

@media screen and (max-width: 750px) { .license_box { -ms-flex-order: 2; order: 2; } }

.license_message { margin-top: 5px; }

.license_message_link { color: #ffffff; text-decoration: none; }

.creative_commons_image { text-decoration: none; }

@media screen and (max-width: 750px) { .copyright_text { text-align: center; } }

.sns_list { display: -ms-flexbox; display: flex; list-style: none; margin: 0 -30px 0 0; padding: 0; }

.sns_item { margin-right: 30px; }

/*-------------------------------------------------- agination --------------------------------------------------*/
.pages_link { margin-top: 35px; top: 50%; left: 50%; }

/*-------------------------------------------------- common_footer --------------------------------------------------*/
.common_footer_box { background-image: url("../images/bg_common_footer.png"); background-size: auto; position: relative; height: 80px; margin: 0; color: #ffffff; }

.link_box { margin: 0 0 -45px; padding-top: 30px; text-align: center; }

.link_item { color: #ffffff; font-size: 14pt; text-decoration: none; margin-right: 45px; }

/*# sourceMappingURL=common.css.map */
