/*-------------------------------------------------- header --------------------------------------------------*/

.main_visual_typo {
  display: none;
}

.main_title {
  display: block;
}

/*-------------------------------------------------- News --------------------------------------------------*/

.news {
  position: relative;
  height: auto;
  margin: 0;
  color: #ffffff;
}

/*-------------------------------------------------- NewsList --------------------------------------------------*/

.news_list_container {
  width: 670px;
  margin-top: 70px;
  border-bottom: 1px solid #afafaf;
}

.news_list_image_box {
  width: 670px;
}

.news_list_image {
  width: 100%;
}

.news_list_info {
  margin-top: 20px;
  display: flex;
}

.news_list_date {
  height: 15px;
  padding-right: 15px;
  color: #6f6f6f;
  font-size: 12px;
  border-right: 1px solid #6f6f6f;
  box-sizing: border-box;
}

.news_list_date p {
  padding: 0;
  margin: 0;
}

.news_list_category {
  height: 15px;
  padding-left: 15px;
  color: #6f6f6f;
  font-size: 12px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news_list_category_item {
  text-decoration: none;
}

.news_list_title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.news_list_content {
  color: black;
  text-align: left;
  margin-top: 15px;
}

.read_more_button {
  text-align: center;
  text-decoration: none;
  color: #3f3f3f;
}

/*-------------------------------------------------- NewsItem --------------------------------------------------*/

.news_item_container {
  width: 670px;
  margin-top: 70px;
  border-bottom: 1px solid #afafaf;
}

.news_item_image_box {
  margin: 60px 0 60px 0;
  width: 670px;
}

.news_item_image {
  width: 100%;
}

.news_item_info {
  margin-top: 20px;
  display: flex;
}

.news_item_date {
  height: 15px;
  padding-right: 15px;
  color: #6f6f6f;
  font-size: 12px;
  border-right: 1px solid #6f6f6f;
  box-sizing: border-box;
}

.news_item_date p {
  padding: 0;
  margin: 0;
}

.news_item_title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.news_item_category {
  height: 15px;
  padding-left: 15px;
  color: #6f6f6f;
  font-size: 12px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news_item_category_item {
  text-decoration: none;
}

.news_item_content {
  color: black;
  text-align: left;
  font-size: 14px;
}

.read_more_button {
  text-align: center;
  text-decoration: none;
  color: #3f3f3f;
}

.news_item_tags {
  margin: 60px 0 30px 0;
  color: #000;
  font-size: 12px;
}

.news_item_tags_title {
  font-weight: bold;
}

.news_item_tags_item {
  text-decoration: none;
}

/*-------------------------------------------------- Sidebar --------------------------------------------------*/

.sidebar_news {
  width: 300px
}

/*-------------------------------------------------- pagination --------------------------------------------------*/

.pages_link {
  margin-top: 35px;
  margin-right: 350px;
  top: 50%;
  left: 50%;
}
