/*-------------------------------------------------- News --------------------------------------------------*/

.news {
  position: relative;
  height: auto;
  margin: 0;
  padding: 80px 0;
  color: #ffffff;
}

/*-------------------------------------------------- NewsItem --------------------------------------------------*/

.news_item_container {
  width: 670px;
  border-bottom: 1px solid #afafaf;
}

.news_item_image_box {
  width: 670px;
}

.news_item_image {
  width: 100%;
}

.news_item_content {
  margin-top: 30px;
}

.news_item_info {
  display: flex;
}

.news_item_date {
  color: #6f6f6f;
  font-size: 12px;
}

.news_item_category {
  color: #6f6f6f;
  font-size: 12px;
}

.news_item_tag {
  color: #6f6f6f;
  font-size: 12px;
  line-height: 35px;
  text-decoration: none;
}

.news_item_title {}

.news_item_hilite {}

.read_more {}

.read_more_button {
text-align: center;
text-decoration: none;
color: #3f3f3f;
}
