{% embed 'partials/base.html.twig' %}
  {% set collection = page.collection() %}
  {% block stylesheets %}
    {% do
      assets.addCss('theme://css/common.css', 100) %}
    {% do
      assets.addCss('theme://css/members.css', 100) %}
    {% do
      assets.addCss('theme://css/normalize.css', 100) %}
  {% endblock %}

  {% block content %}

    <div id="members" class="members">
      <div class="container">

        <ul class="members_list">
          <li class="members_item_box">
            <img class="members_image" src="{{ url('theme://images/member_hidano.png')}}" alt="肥田野 正輝"/>
            <p class="members_company">インフォ・ラウンジ合同会社</p>
            <p class="members_name">肥田野 正輝</p>
          </li>
          <li class="members_item_box">
            <img class="members_image" src="{{ url('theme://images/member_kobayashi.png')}}" alt="小林 巌生"/>
            <p class="members_company">インフォ・ラウンジ合同会社</p>
            <p class="members_name">小林 巌生</p>
          </li>
          <li class="members_item_box">
            <img class="members_image" src="{{ url('theme://images/member_ito.png')}}" alt="伊藤 宗太"/>
            <p class="members_company">インフォ・ラウンジ合同会社</p>
            <p class="members_name">伊藤 宗太</p>
          </li>
          <li class="members_item_box">
            <img class="members_image" src="{{ url('theme://images/member_hidano.png')}}" alt="肥田野 正輝"/>
            <p class="members_company">インフォ・ラウンジ合同会社</p>
            <p class="members_name">肥田野 正輝</p>
          </li>
        </ul>

        <div class="pages_link">
          <ul class="pages_link_number_list">
            <li class="pages_link_number_box">
              <a class="pages_link_number" href="">1</a>
            </li>
            <li class="pages_link_number_box">
              <a class="pages_link_number" href="">2</a>
            </li>
            <li class="pages_link_number_box">
              <a class="pages_link_number" href="">3</a>
            </li>
            <li class="pages_link_number_box">
              <a class="pages_link_number" href="">></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  {% endblock %}
{% endembed %}
