/*--------------------------------------------------------------
  colors
-------------------------------------------------------------- */
$mainColor: #a87D49;
$baseColor: #707070;
$colOrg: #D9896B;
$colRed: #ba0615;
$colVio: #6e4f66;
$colBK: #000;
$colWT: #fff;
$colGY: #dbdbdb;
$colPK01: #d96bc0;
$colPK02: #fdf4ef;

