@charset "utf-8";

/*--------------------------------------------------
    reset.css
--------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

main, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

html{
    overflow-y: scroll;
    font-family: 'Lato','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

input, textarea {
    margin: 0;
    padding: 0;
}

input::-webkit-input-placeholder, input:-moz-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder {
    color: #888;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

ol, ul{
    list-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

caption, th{
    text-align: left;
}

a {
    color: #4ea2ed;
}

a:focus {
    outline:none;
}

a:hover {
    opacity: 0.8;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

img {
    max-width:100%;
}

body {
    font-size: 14px;
}


/*--------------------------------------------------
    common
--------------------------------------------------*/
.c-section_inner {
    width: 860px;
    margin: 0 auto;
}

.c-button_base {
    display: inline-block;
    margin-top: 8px;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
    border-width: 5px;
    border-style: solid;
    background-repeat: no-repeat;
}

.c-button_small01 {
    height: 46px;
    line-height: 40px;
    border-radius: 46px;
}

.c-button_small02 {
    height: 46px;
    line-height: 36px;
    border-radius: 46px;
}

.c-button_big {
    height: 62px;
    line-height: 52px;
    border-radius: 62px;
}

.c-button01 {
    color: #fff;
    background-image: url(../images/apply_btn01.png);
    border-color: #fff;
    border-width: 3px;
}

.c-button02 {
    color: #4ea2ed;
    background-image: url(../images/apply_btn02.png);
    border-color: #4ea2ed;
}

.c-button03 {
    color: #fff;
    background-image: url(../images/apply_btn04.png);
    border-color: #fff;
}

.c-button04 {
    color: #fff;
    border-color: #fff;
    border-width: 3px;
}

.c-button05 {
    color: #fff;
    background-image: url(../images/apply_btn04.png);
    border-color: #fff;
    border-width: 3px;
}

.c-circle_wrapper {
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 20px;
}

.c-circle_wrpper_title {
    height: 64px;
    font-size: 34px;
    text-align: center;
    line-height: 64px;
    border-bottom: 4px solid #000;
}

.c-two_left {
    float: left;
}

.c-two_right {
    float: right;
}

.c-display_block_span span {
    display: block;
}

.c-list_style li {
    line-height: 1.8em;
    list-style-type: disc;
    list-style-position: inside;
}



/*--------------------------------------------------
    #header
--------------------------------------------------*/
#header {
    position: relative;
}

.header__title_wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.header__title_wrapper h1 {
    height:60px;
    line-height:60px;
}

.header__title_wrapper h1 img {
    vertical-align: middle;
}

.header__keyword {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 860px;
    padding-top: 120px;
    text-align: center;
}

.header__keyword_image {
    display: block;
    margin: 0 auto;
}

.header__keyword_text {
    display: inline-block;
    width: 860px;
    margin-top: 70px;
    padding: 30px;
    font-size:18px;
    text-align: left;
    background-color: rgba(225,225,225,0.75);
    border-radius: 8px;
}

.header__keyvisual_credit {
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: #fff;
    text-shadow: 1px 1px 3px #0a0a0a;
}

.bx-wrapper {
    z-index: 0;
    margin-bottom: 0;
    border: none;
}

.bx-wrapper li {
    min-height: 950px;
    background-position: center center;
    background-size: cover;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 75px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    width: 17px;
    height:17px;
    margin: 0 9px;
    background-color: #8aa0ac;
    border-radius: 17px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background-color: #aee2f2;
}

.bx-wrapper .bx-controls-direction {
    position: relative;
    bottom:190px;
}

.bx-wrapper .bx-controls-direction a {
    left:50%;
    width: 20px;
    height: 38px;
}


/*--------------------------------------------------
    #tournament_detail
--------------------------------------------------*/

/*-- overview --*/

.tournament_detail__overview_three_box {
    position: relative;
    float: left;
}

.tournament_detail__overview_three_box:last-child {
    margin-right: 0;
}

.tournament_detail__overview_title {
    height: 240px;
    padding-top: 56px;
    text-align: center;
}

.tournament_detail__overview_title img {
}

.tournament_detail__overview th {
    display: none;
}

.tournament_detail__overview .c-overview_box {
    position: relative;
    width: 286px;
    height: 400px;
    padding: 0 20px;
    color: #fff;
    text-align: center;
}

.tournament_detail__overview .tournament_detail__overview_yokohama {
    background-color: #357ee0;
}

.tournament_detail__overview .tournament_detail__overview_yokosuka {
    background-color: #000d50;
}

.tournament_detail__overview .tournament_detail__overview_kamakura {
    background-color: #6a8465;
}

.tournament_detail__overview_date {
    font-size: 30px;
    line-height: 30px;
}

.tournament_detail__overview_place {
    height: 50px;
    padding-top: 8px;
    font-size: 18px;
    line-height: 20px;
}

.tournament_detail__overview_apply {
    width: 180px;
    padding-left: 30px;
    font-size: 14px;
    background-position: 130px center;
}

.tournament_detail__overview_soon {
    width: 180px;
    font-size: 18px;
    text-align: center;
    background-position: 130px center;
}


/*-- .tournament_detail_report --*/

.tournament_detail_news {
    display: block;
    width: 420px;
    height: 120px;
    margin: 40px auto;
    color: #333;
    text-decoration: none;
    border: 1px solid #898989;
    box-sizing: border-box;
}

.tournament_detail_news_img {
    width: 119px;
    height: 119px;
    text-align: center;
    border-right: 1px solid #898989;
}

.tournament_detail_news_champion img {
    width: 100px;
    padding-top: 10px;
}

.tournament_detail_news dl {
    width: 290px;
    padding: 14px 8px;
}

/*.tournament_detail_news_report {
    background: url(../images/news_image01.jpg) no-repeat left center;
}

.tournament_detail_news_champion {
    background: url(../images/hackathon_icon.png) no-repeat left center;
}*/

.tournament_detail_news_date {
    margin-bottom: 8px;
}

/*.tournament_detail__champion h3 {
    margin-bottom: 24px;
    padding-top: 10px;
    font-size: 36px;
    font-weight: bolder;
    background: url(../images/trophy_s.png) no-repeat 200px 8px;
}

.tournament_detail__champion_text {
    font-size: 18px;
}

.tournament_detail__champion_detail {
    width: 100%;
    margin-top: 24px;
    padding-left: 30px;
    font-size: 18px;
    background-position: 230px center;
    background-color: #4EA2ED;
}

.tournament_detail__champion_detail a {
    display: block;
    color: #fff;
    text-decoration: none;
}*/

/*-- for end hackathon styles --*/
.overview_end {
    display: block;
    position: absolute;
    top: 0;
    width: 286px;
    height: 400px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
}
.overview_end__text {
    width: 220px;
    height: 30px;
    margin: 140px auto 0;
    color: #898989;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
}
.overview_end__link {
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -90px;
    padding-left: 14px;
    font-size: 14px;
}
/*-- for end hackathon styles --*/


.tournament_detail__blue {
    background-color: #6A8465;
}

.tournament_detail__blue h2 {
    padding: 80px 0 40px;
    text-align: center;
}


/*-- schedule --*/

.tournament_detail__schedule {
    margin-bottom: 64px;
}

.tournament_detail__schedule_day1 {
    width: 45%;
}

.tournament_detail__schedule_day2 {
    width: 45%;
}

.tournament_detail__schedule_time {
    width: 10%;
    padding-bottom: 8px;
    color: #fff;
    text-align: center;
    vertical-align: bottom;
    background-color: #01428c;
    border-bottom: 2px solid #E5E3D1;
}

.tournament_detail__schedule tbody td {
}
.tournament_detail__schedule tbody tr:last-child td {
    border-bottom: none;
}

.tournament_detail__schedule .c-table_title {
    padding: 12px 0 8px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: bottom;
    border-bottom: 2px solid #01428c;
}

.tournament_detail__schedule .c-table_title span {
    margin-left: 12px;
    font-size: 30px;
    line-height: 30px;
}

.tournament_detail__schedule .c-time_cell {
    color: #fff;
    text-align: center;
    background-color: #01428c;
    border-bottom: 2px solid #E5E3D1;
}

.tournament_detail__schedule .c-normal_cell {
    padding: 4px 16px;
    border-bottom: 1px dashed #01428c;
}

.tournament_detail__schedule .c-td_height01 {
    height: 196px;
}

.tournament_detail__schedule .c-td_height02 {
    height: 56px;
    /*border-radius: 0 0 0 15px;*/
}

.tournament_detail__schedule .c-td_height03 {
    height: 30px;
    border-radius: 0 0 0 15px;
}

.tournament_detail__schedule .c-bk_light_blue {
    background-color: #aee2f2;
}

.tournament_detail__schedule .c-bk_dark_blue {
    background-color: #4ea2ed;
    border-radius: 0 0 15px 0;
}

.tournament_detail__schedule tbody tr td:nth-child(2n) {
    /*border-right: 2px solid #01428c;*/
;
}

.tournament_detail__schedule tbody td ul {
    padding-left: 32px;
}
.tournament_detail__schedule tbody td li {
    list-style-type: disc;
}

.tournament_detail__schedule__caution {
    margin: 16px 32px 0;
    color: #fff;
}

/*-- access --*/

.tournament_detail__access {
    position: relative;
    height:508px;
}

.tournament_detail__access > p {
    padding: 24px 0;
    font-size: 25px;
    text-align: center;
}

.tournament_detail__access > p > span {
    padding-left: 24px;
    font-size: 15px;
}

.tournament_detail__access_gmap_link {
    position: absolute;
    right: 16px;
    bottom: 24px;
    width: 200px;
    padding-left: 20px;
    font-size: 15px;
    background-position: 160px center;
}

/*-- apply button --*/

.tournament_detail__apply_wrap {
    padding: 36px 0 90px;
    text-align: center;
}

.tournament_detail__apply {
    width: 460px;
    padding-left: 40px;
    font-size: 21px;
    background-position: 380px center;
}

/*-- description --*/

.tournament_detail__description {
    margin-bottom: 60px;
}

.tournament_detail__description .c-circle_title {
    height: 124px;
    padding-left: 128px;
    /*color: #AEE2F2;*/
    color: #fff;
    font-size: 24px;
    letter-spacing: -0.05em;
    background-repeat: no-repeat;
    background-position: center left;
}

.tournament_detail__description .c-circle_title span {
    line-height: 40px;
    padding-top: 18px;
}

.tournament_detail__description p {
    margin: 24px 0 30px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.tournament_detail__description_theme h3 {
    background-image: url(../images/theme_logo.png);
}

.tournament_detail__description_entry h3 {
    padding-top: 40px;
    background-image: url(../images/entry_logo.png);
}
.tournament_detail__description_entry__link_urban {
    color: #fff;
    text-decoration: underline;
}

.tournament_detail__description .c-two_left,
.tournament_detail__description .c-two_right {
    /*width: 48%;*/
}

.back_button {
    margin-bottom: 30px;
    text-align: right;
}

#sponsors {
    padding-bottom: 60px;
    text-align: center;
}

.sponsors__yokosuka_balley_logo {
    display: block;
    margin-bottom: 24px;
}

.sponsors__category,
.sponsors__name {
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.sponsors__name a {
    color: #fff;
}


/*--------------------------------------------------
    #total_tournament
--------------------------------------------------*/
#total_tournament {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 15px;
    background: url(../images/about__champ_bk.jpg) repeat;
}

.total_tournament__title {
    width: 750px;
    margin: 0 auto 40px;
    padding: 8px 0 8px 130px;
    font-size: 35px;
    background: url(../images/hackathon_icon_s.png) no-repeat left center ;
}

.total_tournament__description {
    margin-bottom: 80px;
    line-height: 1.8em;
}

.total_tournament__period {
    margin-bottom: 80px;
}

.total_tournament__period:last-child {
    margin-bottom: 40px;
}

.total_tournament__period h3 {
    margin-bottom: 32px;
    font-size: 32px;
    text-align: center;
}

.total_tournament__detail table tr:nth-child(odd) {
    background-color: #AEE2F2;
}
.total_tournament__detail table tr:nth-child(even) {
    background-color: #fafafa;
}

.total_tournament__detail table th,
.total_tournament__detail table td {
    padding: 10px 16px;
}

.total_tournament__detail table th {
    width: 25%;
}

.total_tournament__program_text {
    width: 630px;
    margin: 0 auto 40px;
    padding-right: 12px;
}

.total_tournament__program_text ul {
    margin-bottom: 12px;
}

.total_tournament__program_text p {
    font-size: 13px;
}

.total_tournament__program_text img {
    display: block;
    margin: 30px auto 0;
}

.total_tournament__election h3 {
    margin-bottom: 40px;
}

.total_tournament__election__title {
    margin-bottom: 36px;
    padding-left: 8px;
    font-size: 20px;
    line-height:30px;
    background-color: #AEE2F2;
}

.total_tournament__election__city {
    margin-bottom: 40px;
}

.total_tournament__election__team {
    width: 540px;
    margin-bottom: 36px;
}

.total_tournament__election__team_name {
    height: 73px;
    margin-bottom: 16px;
    padding-top: 6px;
    padding-left: 16px;
    font-size: 20px;
    border-left: 16px solid #4EA2ED;
}

.total_tournament__election__team_description {
    line-height:1.6em;
}

.total_tournament__judges h3 span {
    font-size: 18px;
}

.total_tournament__judges ul {
    width: 350px;
    margin: 0 auto;
}

.total_tournament__contact {
    text-align: center;
}

.total_tournament__contact_link {
    display: block;
    height: 100px;
    line-height: 100px;
}

.total_tournament__contact_link img {
    vertical-align: middle;
}

.total_tournament__contact dl {
    width: 400px;
}

.total_tournament__contact dt,
.total_tournament__contact dd {
    display: inline-block;
}


/*--------------------------------------------------
    body#report
--------------------------------------------------*/
#report .header__keyword {
    top: 60px;
    height: 630px;
    padding-top: 0;
    /*background: url(../images/report_kanazawa/mv.jpg) no-repeat bottom center;*/
}

#report .header__keyword.report_kanazawa {
    background: url(../images/report_kanazawa/mv.jpg) no-repeat bottom center;
}

#report .header__keyword.report_yokosuka {
    background: url(../images/report_yokosuka/mv.jpg) no-repeat bottom center;
}

#report .header__keyword_image {
    margin-top: 132px;
}

#report .header__report_title {
    width: 800px;
    margin: 50px auto 0;
    padding: 18px 0;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
#report .header__report_title_date {
    font-size: 36px;
}

#report .header__report_title_title {
    font-size: 24px;
}

#report_wrapper {
    width: 800px;
    margin: 0 auto;
    padding-top: 688px;
}

#report_wrapper .report_box {
    margin-bottom: 150px;
}

#report_wrapper .report_box__title {
    margin-top: 60px;
    font-size: 50px;
    text-align: right;
    border-bottom: 2px solid #000;
}

#report_wrapper .report_box__date {
    padding: 28px 0 20px;
    font-size: 35px;
    line-height: 35px;
}

#report_wrapper .report_box__text {
    margin-bottom: 60px;
}

#report_wrapper .photo_box__caption {
    margin: 8px 0 38px;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
}

#report_wrapper .team_wrapper {
    margin-bottom: 100px;
}

#report_wrapper .team {
    margin-bottom: 60px;
}

#report_wrapper .team__title {
    margin-bottom: 24px;
    padding: 5px 0 5px 8px;
    border-left: 10px solid #357ee0;
}

#report_wrapper .team__title span {
    display: block;
    font-size: 23px;
    line-height:31px;
}

#report_wrapper .team__text {
    margin-bottom: 24px;
}

#report_wrapper .award_wrapper {
    margin-bottom: 120px;
}

#report_wrapper  .judge_result {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
}
#report_wrapper .award__title {
    height: 120px;
    margin-bottom: 10px;
    padding-left: 110px;
    background: url(../images/report_kanazawa/icon_award.png) no-repeat left center;
}

#report_wrapper .award__title.highest {
    padding-left: 120px;
    background: url(../images/report_kanazawa/icon_h_award.png) no-repeat left center;
}

#report_wrapper .award__title span {
    display: block;
}

#report_wrapper .award__title .award__title_award {
    margin-bottom: 12px;
    padding-top: 18px;
    font-size: 20px;
    line-height: 20px;
}

#report_wrapper .award__title .award__title_team {
    font-size: 32px;
}

#report_wrapper .related_links {
    margin-bottom: 130px;
}

#report_wrapper .related_links h2 {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 35px;
}

#report_wrapper .related_links a {
    font-size: 18px;
}

#report #sponsors ul.c-section_inner dl dt.sponsors__title,
#report #sponsors ul.c-section_inner dl dd{
    display: inline;
}

#report #footer{
    text-align: center;
    margin-bottom: 30px;
}

/*-- report common styles for parts --*/
#report .c-text {
    font-size: 18px;
    line-height: 25px;
}

#report_wrapper .c-blue_square:before {
    display: inline-block;
    content: ' ';
    width: 35px;
    height: 35px;
    margin-right: 12px;
    vertical-align: top;
    background-color: #357ee0;
}

