{% embed 'partials/base.html.twig' %}
    {% set collection = page.collection() %}
    {% block stylesheets %}
        {% do
            assets.addCss('theme://css/common.css', 100) %}
        {% do
            assets.addCss('theme://css/activities.css', 100) %}
        {% do
            assets.addCss('theme://css/normalize.css', 100) %}
    {% endblock %}

    {% block content %}
        <div class="container">
            <div id="activities" class="activities">
                <div class="activities_container">
                    {% for child in collection %}
                        {% include 'partials/activities_list.html.twig' with {
                            'activities' : page,
                            'page' : child,
                            'truncate' : true
                        } %}
                    {% endfor %}
                    <div class="pages_link_pc">
                        {% if config.plugins.pagination.enabled and collection.params.pagination %}
                            {% include 'partials/pagination.html.twig' with {
                                'base_url' : page.url,
                                'pagination' : collection.params.pagination
                            } %}
                        {% endif %}
                    </div>
                </div>
                <div id="sidebar" class="sidebar_activities">
                    {% include 'partials/sidebar.html.twig' with {
                        'activities' : page
                    } %}
                </div>
                <div class="pages_link_sp">
                    {% if config.plugins.pagination.enabled and collection.params.pagination %}
                        {% include 'partials/pagination.html.twig' with {
                            'base_url' : page.url,
                            'pagination' : collection.params.pagination
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
