{% embed 'partials/base.html.twig' %}
  {% block stylesheets %}
    {% do
      assets.addCss('theme://css/common.css', 100) %}
    {% do
      assets.addCss('theme://css/activities.css', 100) %}
    {% do
      assets.addCss('theme://css/normalize.css', 100) %}
  {% endblock %}

  {% block content %}
    {% if config.plugins.breadcrumbs.enabled %}
      {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="container">
      <div id="activities" class="activities">
        <div class="activities_container">
          <div id="item" class="block pure-u-2-3 h-entry">
            {% include 'partials/activities_item.html.twig' with {
              'activities' : page.parent,
              'truncate' : false
            } %}

            {{dump (page.parent)}}
          </div>
          <div class="next_after_pagination">

          </div>
        </div>
        <div id="sidebar" class="sidebar_activities">
          {% include 'partials/sidebar.html.twig' with {'activities':page.parent}%}
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
