{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}
  {% block stylesheets %}
    {% do
      assets.addCss('theme://css/common.css', 100) %}
    {% do
      assets.addCss('theme://css/index.css', 100) %}
    {% do
      assets.addCss('theme://css/normalize.css', 100) %}
  {% endblock %}
  {% block javascripts %}
    {% do
      assets.add('jquery', 101) %}
    {% do
      assets.add('theme://js/script.js', 101) %}
    {% do
      assets.add('theme://js/index.js', 100) %}
  {% endblock %}

  {% block content %}

    <main class="main_home">
      <section id="about" class="about">
        <div class="container">
          <h2 class="common_heading white">About</h2>
          <article class="about_box first">
            <h3 class="about_title">Technology for Social Innovation</h3>
            <p class="about_detail">
              Code for YOKOHAMAは仲間とともに技術を磨き、学んだスキルを地域の課題解決に役立てていく活動です。<br/>横浜から価値あるソリューションを世界へ。あなたもこの活動に参加しませんか？
            </p>
          </article>
          <article class="about_box project">
            <h3 class="about_title">Project</h3>
            <p class="about_detail">
              Code for YOKOHAMAはオープンソースやオープンデータ、<br/>
              参加者のスキルアップを目指すプロジェクトを中心に、参加メンバーが主体的に立ち上げています。
            </p>
            <div class="project_archives">
              <section class="project_archives_item">
                <a class="project_archives_thumb" href="https://github.com/LocalGood/" target="_blank">
                  <img src="{{ url('theme://images/project_lgyokohama.jpg')}}">
                </a>
                <div class="project_archives_info">
                  <h3 class="info_title">
                    <a href="https://github.com/LocalGood/" target="_blank">LocalGood Yokohama</a>
                  </h3>
                  <div class="info_desc">
                    <p>クラウドファンディングのOSS Goteoをフルカスタマイズして実装し、WordPressと連動させた地域循環プラットフォーム</p>
                  </div>
                </div>
              </section>
              <section class="project_archives_item">
                <a class="project_archives_thumb" href="/ICTproposal/">
                  <img src="{{ url('theme://images/project_gijyutukudou.jpg')}}">
                </a>
                <div class="project_archives_info">
                  <h3 class="info_title">
                    <a href="/ICTproposal/">技術駆動都市ヨコハマ2030</a>
                  </h3>
                  <div class="info_desc">
                    <p>2017年横浜市長選挙に際し、横浜市のICT活用が目指すべき未来を提言した文書</p>
                  </div>
                </div>
              </section>
            </div>
          </article>
{#
          <article class="about_box innovation">
            <div class="about_innovation_text">
              <h2 class="about_title">Technology for Social Innovation</h2>
              <p class="about_detail">
                Code for YOKOHAMAは仲間とともに技術を磨き、<br/>学んだスキルを地域の課題解決に役立てていく活動です。<br/>
                横浜から価値あるソリューションを世界へ。<br/>
                あなたもこの活動に参加しませんか？
              </p>
            </div>
            <div class="about_innovation_image">
              <img src="{{ url('theme://images/inovation.png')}}"/>
            </div>
          </article>
#}
        </div>
      </section>

      <section id="whatsNew" class="whats_new">
        <div class="container">
          <h2 class="common_heading red">What's New?</h2>
          <div class="whats_new_contents">
            {% include 'partials/whats_new_home.html.twig' %}
          </div>
          <a class="read_more_button" href="activities/category:What's%20New">Read more</a>
        </div>
      </section>

      <section id="activites" class="activites">
        <div class="container activites_container">
          <h2 class="common_heading white">Activites</h2>
          <div class="activites_items">
            {% include 'partials/activities_home.html.twig' %}
          </div>
          <a class="read_more_button" href="activities/category:Activities">Read more</a>
        </div>
      </section>

{#
      <section id="member" class="member">
        <div class="container">
          <h2 class="common_heading red">Member</h2>
          {% include 'partials/members_home.html.twig' %}
        </div>
      </section>
#}
    </main>
  {% endblock %}

{% endembed %}
