{% embed 'partials/base.html.twig' %}
  {% set collection = page.collection() %}
  {% block stylesheets %}
    {% do
      assets.addCss('theme://css/common.css', 100) %}
    {% do
      assets.addCss('theme://css/members.css', 100) %}
    {% do
      assets.addCss('theme://css/normalize.css', 100) %}
  {% endblock %}

  {% block content %}

    <div id="members" class="members">
      <div class="container">

        <ul class="members_list">
          {% if collection | length % 4 == 0 %}
            {% for child in collection %}
              {% include 'partials/members_item.html.twig' with {
                'members' : page,
                'page' : child,
                'truncate' : true
              } %}
            {% endfor %}

          {% elseif collection|length % 4 > 0 %}
            {% for child in collection %}
              {% include 'partials/members_item.html.twig' with {
                'members' : page,
                'page' : child,
                'truncate' : true
              } %}
            {% endfor %}

            {% for child in 1..collection | length % 4 %}
              <div class="members_item_box_content_dummy"></div>
            {% endfor %}

          {% endif %}
        </ul>

        <div class="members_list_border"></div>

        <div class="pages_link">

          {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {
              'base_url' : page.url,
              'pagination' : collection.params.pagination
            } %}
          {% endif %}
        </div>
      </div>
    </div>

  {% endblock %}
{% endembed %}
