{% embed 'partials/base.html.twig' %}
  {% block stylesheets %}
    {% do
      assets.addCss('theme://css/common.css', 100) %}
    {% do
      assets.addCss('theme://css/news.css', 100) %}
    {% do
      assets.addCss('theme://css/normalize.css', 100) %}
  {% endblock %}

  {% block content %}
    {% if config.plugins.breadcrumbs.enabled %}
      {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="container">
      <div id="news" class="news">
        <div class="news_container">
          <div id="item" class="block pure-u-2-3 h-entry">
            {% include 'partials/news_item.html.twig' with {
              'news' : page.parent,
              'truncate' : false
            } %}
          </div>
          <div class="next_after_pagination">
            
          </div>
        </div>
        <div id="sidebar" class="sidebar_news">
          {% include 'partials/sidebar.html.twig' with {'news':page.parent}%}
        </div>
      </div>
    </div>
  {% endblock %}

{% endembed %}
