/*-------------------------------------------------- Member --------------------------------------------------*/

.members {
  position: relative;
  height: auto;
  margin: 0;
  padding: 80px 0;
  color: #ffffff;
}

.members_list {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 -20px 0 0;
  padding: 0;
  border-bottom: 1px solid #afafaf;
}

.members_item_box {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin-right: 20px;
}

.members_image {
  width: 240px;
  height: 240px;
}

.pages_link {
  margin-top: 35px;
  top: 50%;
  left: 50%;
}

.pages_link_number_list {
  list-style: none;
  margin: 0 -10px 0 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}

.pages_link_number_box {
  display: inline-block;
  margin-right: 10px;
}

.pages_link_number {
  display: block;
  border: 1px solid #db2023;
  width: 45px;
  height: 45px;
  padding: 15px;
  font-size: 18pt;
  box-sizing: border-box;
  color: #db2023;
  text-align: center;
  text-decoration: none;
}

.pages_link_number:hover {
  background-color: #db2023;
  color: #fff;
}
